{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Change my password{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}Change my password{% endtrans %}
{% endblock %}

{% block body %}
    <form action="{{ path('change_password') }}" method="POST">

        <div class="form-group row">
            <label for="old_password" class="col-sm-3 col-form-label">{% trans %}Old password{% endtrans %}</label>
            <div class="col-sm-6">
                <input type="password" name="old_password"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="new_password" class="col-sm-3 col-form-label">{% trans %}New password{% endtrans %}</label>
            <div class="col-sm-6">
                <input type="password" name="new_password"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="new_password_confirm" class="col-sm-3 col-form-label">{% trans %}Confirm new password{% endtrans %}</label>
            <div class="col-sm-6">
                <input type="password" name="new_password_confirm"/>
            </div>
        </div>
        <div class="col-12 text-right">
            <button type="submit" class="btn btn-success">
                {% trans %}Change my password{% endtrans %}
            </button>
            <a href="{{ path('profile') }}" class="btn btn-danger">
                {% trans %}Cancel{% endtrans %}
            </a>
        </div>
    </form>
{% endblock %}
