{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}My records{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}My records{% endtrans %}
{% endblock %}

{% block body %}
    <h5>{% trans %}I have{% endtrans %} {{ records | length }} {% trans %}records{% endtrans %}.</h5>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width:25%">{% trans %}Swearword{% endtrans %}</th>
            <th scope="col" style="width:20%">{% trans %}Price{% endtrans %}</th>
            <th scope="col" style="width:25%">{% trans %}Recorded by{% endtrans %}</th>
            <th scope="col" style="width:25%">{% trans %}Recorded at{% endtrans %}</th>
            <th scope="col" style="width:5%">{% trans %}Paid{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.swearword.label }}</td>
                <td>{{ record.price | number_format(2, ',', ' ') }} €</td>
                <td>{{ record.userCrea.firstname }} {{ record.userCrea.name | upper }}</td>
                <td>{{ record.dateCrea | date('d/m/Y') }}</td>
                <td class="text-center">
                    {% if record.paid %}
                        <span class="text-success"><i class="fa fa-check"></i></span>
                    {% else %}
                        <span class="text-danger"><i class="fa fa-times"></i></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}