{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}My reports{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}My reports{% endtrans %}
{% endblock %}

{% block body %}
    <h5>{% trans %}I have{% endtrans %} {{ reports | length }} {% trans %}reports{% endtrans %}.</h5>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width:25%">{% trans %}Swearword{% endtrans %}</th>
            <th scope="col" style="width:20%">{% trans %}Price{% endtrans %}</th>
            <th scope="col" style="width:25%">{% trans %}Reported to{% endtrans %}</th>
            <th scope="col" style="width:25%">{% trans %}Reported at{% endtrans %}</th>
            <th scope="col" style="width:5%">{% trans %}Validated{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.swearword.label }}</td>
                <td>{{ report.price | number_format(2, ',', ' ') }} €</td>
                <td>{{ report.user.firstname }} {{ report.user.name | upper }}</td>
                <td>{{ report.dateCrea | date('d/m/Y') }}</td>
                <td class="text-center">
                    {% if report.valid %}
                        <span class="text-success"><i class="fa fa-check"></i></span>
                    {% else %}
                        <span class="text-danger"><i class="fa fa-times"></i></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}