{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Profile{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}Hello{% endtrans %} {{ user.firstname }} {% if user.surname %} <em>&laquo;{{ user.surname }}&raquo;</em> {% endif %} {{ user.name | upper }} !
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-sm-4">{% trans %}Email address{% endtrans %}</label>
                        <div class="col-sm-7">{{ user.email }}</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-sm-4">{% trans %}Active{% endtrans %}</label>
                        <div class="col-sm-7">
                            {% if user.active %}
                                <i class="fas fa-toggle-on text-success"></i>
                            {% else %}
                                <i class="fas fa-toggle-off text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label for="birthday" class="col-sm-4">{% trans %}Ausy Arrival Date{% endtrans %}</label>
                <div class="col-sm-7">
                    {% if user.ausyArrivalDate == null %}
                        <i>Non renseigné</i>
                    {% else %}
                        {{ user.ausyArrivalDate | date('d/m/Y') }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label for="birthday" class="col-sm-4">{% trans %}Birthday{% endtrans %}</label>
                <div class="col-sm-7">
                    {% if user.birthday == null %}
                        <i>Non renseigné</i>
                    {% else %}
                        {{ user.birthday | date('d/m/Y') }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 text-right">
            <a href="{{ path('change_password') }}" class="btn btn-info">
                {% trans %}Change my password{% endtrans %}
            </a>
            <a href="{{ path('edit_profile') }}" class="btn btn-warning">
                {% trans %}Edit my profile{% endtrans %}
            </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-6" style="border-right:1px solid #dee2e6">
            <h2>{% trans %}My last reports{% endtrans %}</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" style="width:25%">{% trans %}Swearword{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Price{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Reported to{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Reported at{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.swearword.label }}</td>
                        <td>{{ report.price | number_format(2, ',', ' ') }} €</td>
                        <td>{{ report.user.firstname }} {{ report.user.name | upper }}</td>
                        <td>{{ report.dateCrea | date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>{% trans %}My last records{% endtrans %}</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" style="width:25%">{% trans %}Swearword{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Price{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Recorded by{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Recorded at{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.swearword.label }}</td>
                        <td>{{ record.price | number_format(2, ',', ' ') }} €</td>
                        <td>{{ record.userCrea.firstname }} {{ record.userCrea.name | upper }}</td>
                        <td>{{ record.dateCrea | date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}