{%  extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Sign in{% endtrans %} ! {% endblock %}

{% block pageTitle %}
    {% trans %}Please sign in{% endtrans %}
{% endblock %}

{% block body %}
    <form method="post" class="form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="inputEmail">{% trans %}Email{% endtrans %}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>


        <div class="form-group">
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
        </div>
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-success" type="submit">
            {% trans %}Sign in{% endtrans %}
        </button>
    </form>
{% endblock %}