
{{ form_start(form, {'action' : path('edit_balance', {'id' : 0}), 'method': 'POST'}) }}
<div class="row">
    <div class="col-4 form-group">
        <div class="form-group row">
            <label for="price" class="col-sm-4 col-form-label label-required">{{ form_label(form.type) | trans | raw }}</label>
            <div class="col-sm-6 input-group">
                {{ form_widget(form.type) }}
                {{ form_help(form.type) }}
                {{ form_errors(form.type) }}
            </div>
        </div>
    </div>
    <div class="col-4 form-group">
        <div class="form-group row">
            <label for="price" class="col-sm-4 col-form-label label-required">{{ form_label(form.amount) | trans | raw }}</label>
            <div class="col-sm-6 input-group">
                {{ form_widget(form.amount) }}
                {{ form_help(form.amount) }}
                {{ form_errors(form.amount) }}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group row">
            <label for="label" class="col-sm-5 col-form-label label-required">{{ form_label(form.initial_amount) | trans | raw }}</label>
            <div class="col-sm-6">
                {{ form_widget(form.initial_amount) }}
                {{ form_help(form.initial_amount) }}
                {{ form_errors(form.initial_amount) }}
            </div>
        </div>
    </div>
    <div class="col-8 form-group">
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label label-required">{{ form_label(form.label) | trans | raw }}</label>
            <div class="col-sm-6 input-group">
                {{ form_widget(form.label) }}
                {{ form_help(form.label) }}
                {{ form_errors(form.label) }}
            </div>
            <span class="col-sm-12 text-danger font-italic text-xs">* champs requis</span>
        </div>
    </div>
    <div class="col-4 text-right">
        <button type="submit" class="btn btn-success">
            {% trans %}Save{% endtrans %}
        </button>
        <button type="button" class="btn btn-danger" onclick="$('#edit-form').hide(); $('#add-btn').show();">
            {% trans %}Cancel{% endtrans %}
        </button>
    </div>
</div>
{{ form_end(form) }}
