{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Earnings balance{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}Earnings balance{% endtrans %}
{% endblock %}

{% block pageAction %}
    {% if is_granted('ROLE_ADMIN') %}
    <button id='add-btn' class="btn btn-success btn-icon-split" onclick="showAddForm()">
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span class="text">{% trans %}Add a line{% endtrans %}</span>
    </button>
    {% endif %}
{% endblock %}

{% block form %}
    <div id="form" style="display: none">
        <hr/>
        <h4>{% trans %}Add a line{% endtrans %}</h4>
        {% include 'balance/add.html.twig' with {'form' : form} %}
    </div>
    <div id="edit-form" style="display: none">
        <hr/>
        <h4>{% trans %}Edit a line{% endtrans %}</h4>
        {% include'balance/edit.html.twig' with {'form' : editForm} %}
    </div>
{% endblock %}

{% block body %}
    {% if items|length %}
    <h4>{% trans %}Actual amount{% endtrans %} : {{ items[items|length - 1].restAmount | number_format(2, ',', ' ') }} €</h4>
    {% endif %}
    <table class='table table-striped'>
        <thead>
            <tr>
                <th scope="col">{% trans %}Initial{% endtrans %}</th>
                <th scope="col">{% trans %}Credit{% endtrans %}</th>
                <th scope="col">{% trans %}Debit{% endtrans %}</th>
                <th scope="col">{% trans %}Rest{% endtrans %}</th>
                <th scope="col">{% trans %}Label{% endtrans %}</th>
                <th scope="col">{% trans %}Created at{% endtrans %}</th>
                <th scope="col">{% trans %}Updated at{% endtrans %}</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th scope="col">{% trans %}Actions{% endtrans %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for item in items|reverse %}
            <tr>
                <td>{{ item.initialAmount | number_format(2, ',', ' ') }}</td>
                <td>{{ item.credit | number_format(2, ',', ' ') }}</td>
                <td>{{ item.debit | number_format(2, ',', ' ') }}</td>
                <td>{{ item.restAmount | number_format(2, ',', ' ') }}</td>
                <td>{{ item.label }}</td>
                <td>{{ item.getCreatedAt() }}</td>
                <td>{{ item.getUpdatedAt() }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td class='actions'>
                    <button onclick="setEditValue({{ item.id }}); scrollTo(0,0);" type="button" class="btn btn-warning">
                        <i class="fas fa-edit"></i>
                    </button>
                    <a href="{{ path('delete_balance', {'id':item.id}) }}" type="button" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function setEditValue(id) {
            {% for item in items %}
            if(id == {{ item.id }}) {
                $('#edit-form form').attr('action', "{{ path('edit_balance', {'id' : item.id}) }}");
                $('#edit-form input#balance_label').val("{{ item.label }}");
                $('#edit-form input#balance_initial_amount').val({{ prevAmount }});
                {% if item.credit > 0 %}
                    $('#edit-form #balance_type').val("credit");
                    $('#edit-form input#balance_amount').val({{ item.credit }});
                {% endif %}
                {% if item.debit > 0 %}
                $('#edit-form #balance_type').val("debit");
                $('#edit-form input#balance_amount').val({{ item.debit }});
                {% endif %}
            }
            {% endfor %}
            $('#edit-form').show();
            $('#form').hide();
            $('#add-btn').show();
        }

        function showAddForm() {
            $('#form input#balance_initial_amount').val({{ currentAmount }});
            $('#form').show();
            $('#add-btn').hide();
            $('#edit-form').hide();
        }
    </script>
{% endblock %}