
{% if action == 'add' %}
    {{ form_start(form, {'action' : path('swearword_add'), 'method': 'POST'}) }}
{% else %}
    {{ form_start(form, {'action' : path('swearword_edit', {'id' : 0}), 'method': 'POST'}) }}
{% endif %}
    <div class="row">
        <div class="col-4">
            <div class="form-group row">
                <label for="label" class="col-sm-3 col-form-label label-required">{{ form_label(form.label) | trans | raw }}</label>
                <div class="col-sm-6">
                    {{ form_widget(form.label) }}
                    {{ form_help(form.label) }}
                    {{ form_errors(form.label) }}
                </div>
                <span class="col-sm-12 text-danger font-italic text-xs">* champs requis</span>
            </div>
        </div>
        <div class="col-4 form-group">
            <div class="form-group row">
                <label for="price" class="col-sm-3 col-form-label label-required">{{ form_label(form.price) | trans | raw }}</label>
                <div class="col-sm-6 input-group">
                    {{ form_widget(form.price) }}
                    {{ form_help(form.price) }}
                    {{ form_errors(form.price) }}
                </div>
            </div>
        </div>
        <div class="col-4 text-right">
            {% if action == 'add' %}
                <button type="submit" class="btn btn-success">
                    {% trans %}Create{% endtrans %}
                </button>
                <button type="button" class="btn btn-danger" onclick="$('#add-btn').show(); $('#form').hide(); ">
                    {% trans %}Cancel{% endtrans %}
                </button>
            {% else %}
                <button type="submit" class="btn btn-success">
                    {% trans %}Save{% endtrans %}
                </button>
                <button type="button" class="btn btn-danger" onclick="$('#edit-form').hide(); $('#add-btn').show();">
                    {% trans %}Cancel{% endtrans %}
                </button>
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
