{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Swearwords{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}Swearwords{% endtrans %}
{% endblock %}

{% block pageAction %}
    {% if is_granted('ROLE_ADMIN') %}
    <button id='add-btn' class="btn btn-success btn-icon-split" onclick="$('#form').show(); $('#add-btn').hide(); $('#edit-form').hide();">
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span class="text">{% trans %}Add a swearword{% endtrans %}</span>
    </button>
    {% endif %}
{% endblock %}

{% block form %}
    <div id="form" style="display: none">
        <hr/>
        <h4>{% trans %}Add a swearword{% endtrans %}</h4>
        {% include 'swearword/form.html.twig' with {'form' : form, 'action' : 'add'} %}
    </div>
    <div id="edit-form" style="display: none">
        <hr/>
        <h4>{% trans %}Edit a swearword{% endtrans %}</h4>
        {% include'swearword/form.html.twig' with {'form' : editForm, 'action' : 'edit'} %}
    </div>
{% endblock %}

{% block body %}
    <table class='table table-striped' id="jurons-table" style="width: 100%">
        <thead>
        <tr>
            <th scope="col">{% trans %}Label{% endtrans %}</th>
            <th scope="col">{% trans %}Cost{% endtrans %}</th>
            <th scope="col">{% trans %}Created at{% endtrans %}</th>
            <th scope="col">{% trans %}Updated at{% endtrans %}</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th scope="col">{% trans %}Actions{% endtrans %}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.label }}</th>
                <td>{{ item.price | number_format(2, ',', ' ') }}&nbsp;€</td>
                <td>{{ item.getCreatedAt() }}</td>
                <td>{{ item.getUpdatedAt() }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td class='actions'>
                    <button data-id="{{ item.id }}" data-label="{{ item.label }}" data-price="{{ item.price }}" type="button" class="btn btn-warning btn-edit">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('jurons') }}
{% endblock %}