
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">{% trans %}User{% endtrans %}</th>
            <th scope="col">{% trans %}This month{% endtrans %}</th>
            <th scope="col">{% trans %}Total{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for delation in delationsByUser %}
        <tr>
            <td>{{ delation.user|raw }}</td>
            <td>{{ delation.swearwordsForMonth }}</td>
            <td>{{ delation.swearwords }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>