{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {% trans %}Home{% endtrans %}
{% endblock %}

{% block pageTitle %}
    {% trans %}Welcome{% endtrans %} {{ app.user.firstname }} {{ app.user.name }} !
{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-md-12 d-block d-md-flex justify-content-around">
            <a href="{{ path('report') }}" class="btn btn-warning btn-icon-split btn-lg">
                <span class="icon text-white-50">
                  <i class="fas fa-bullhorn"></i>
                </span>
                <span class="text">{% trans %}Report{% endtrans %}</span>
            </a>
            {% if is_granted('ROLE_MODERATOR') %}
                {% if toValidate %}
                    <a href="{{ path('report_validations') }}" class="btn btn-success btn-icon-split btn-lg">
                        <span class="icon text-white-50">
                            <i class="far fa-check-square"></i>
                        </span>
                        <span class="text">{% trans %}Validate report{% endtrans %}</span>
                    </a>
                {% endif %}
                {% if toPay %}
                    <a href="{{ path('report_payments') }}" class="btn btn-info btn-icon-split btn-lg">
                        <span class="icon text-white-50">
                          <i class="fas fa-coins"></i>
                        </span>
                        <span class="text">{% trans %}Register payment{% endtrans %}</span>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-around">
        {% if birthdays is not empty %}
            <div class="col-xl-6 col-md-6 col-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header border-bottom-pink py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="col mr-2">
                            <h6 class="m-0 text-xs font-weight-bold text-pink text-uppercase">{% trans %}Today's birthdays{% endtrans %}</h6>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-birthday-cake fa-2x text-pink"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="h5 mb-0 text-gray-800">
                                <ul style="list-style-type: none">
                                    {% for user in birthdays %}
                                        <li>
                                            <i class="fas fa-splotch"></i>
                                            {{ user.firstname }} {{ user.name | upper }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ausydays is not empty %}
            <div class="col-xl-6 col-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header border-bottom-primary py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="col mr-2">
                            <h6 class="m-0 text-xs font-weight-bold text-primary text-uppercase">{% trans %}Today's ausy comings{% endtrans %}</h6>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-birthday-cake fa-2x text-primary"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="h5 mb-0 text-gray-800">
                                <ul style="list-style-type: none">
                                    {% for user in ausydays %}
                                        <li>
                                            <i class="fas fa-splotch"></i>
                                            {{ user.firstname }} {{ user.name | upper }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-6 col-12 mb-4">
            <div class="card border-left-orange shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">{% trans %}Total earnings{% endtrans %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if cagnotte != null %}
                                {# faire la somme de tous les jurons prononcés en plus de la cagnotte (pas payés) => ds controller #}
                                    {{ cagnotte | number_format(2, ',', ' ') }}€
                                {% else %}
                                    0,00 €
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-euro-sign fa-2x text-orange"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{% trans %}Total paid{% endtrans %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if dispoAmount != null %}
                                    {{ dispoAmount | number_format(2, ',', ' ') }}€
                                {% else %}
                                    0,00 €
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-euro-sign fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{% trans %}I owe{% endtrans %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if totalToPay != null %}
                                    {{ totalToPay | number_format(2, ',', ' ') }}€
                                {% else %}
                                    0,00 €
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-euro-sign fa-2x text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{% trans %}Pronounced this month{% endtrans %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ pronounced }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comment fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{% trans %}The most rude{% endtrans %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if mostRude is not null %}
                                    {{ mostRude }}
                                {% else %}
                                    <i class="fas fa-ellipsis-h"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            {% if mostRude is not null and mostRude == "Me" %}
                                {% if myRudnessTotal >= 5 %}
                                    <i class="fas fa-sad-cry fa-2x text-danger"></i>
                                {% else %}
                                    <i class="fas fa-sad-tear fa-2x text-danger"></i>
                                {% endif %}
                            {% else %}
                                <i class="fas fa-exclamation fa-2x text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12 mb-4">
            <div class="card border-left-purple shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-purple text-uppercase mb-1">{% trans %}The most snitch{% endtrans %}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {% if mostCollabo is not null %}
                                    {{ mostCollabo }}
                                {% else %}
                                    <i class="fas fa-ellipsis-h"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            {% if mostCollabo is not null and mostCollabo == "Me" %}
                                <i class="fas fa-grin-tongue-squint fa-2x text-purple"></i>
                            {% else %}
                                <i class="fas fa-head-side-cough fa-2x text-purple"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-secondary">{% trans %}Last pronounced{% endtrans %}</h6>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">{% trans %}Pronounced by{% endtrans %}</th>
                            <th scope="col">{% trans %}Reported by{% endtrans %}</th>
                            <th scope="col">{% trans %}Swearword{% endtrans %}</th>
                            <th scope="col">{% trans %}Price{% endtrans %}</th>
                            <th scope="col">{% trans %}Date{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in lastReports %}
                            <tr>
                                {% if report.user.surname %}
                                    <td>{{ report.user.surname }}</td>
                                {% else %}
                                    <td >{{ report.user.firstname }} {{ report.user.name | upper }}</td>
                                {% endif %}
                                {% if report.userCrea.surname %}
                                    <td>{{ report.userCrea.surname }}</td>
                                {% else %}
                                    <td>{{ report.userCrea.firstname }} {{ report.userCrea.name | upper }}</td>
                                {% endif %}

                                <td>{{ report.swearword.label }}</td>
                                <td>{{ report.price | number_format(2, ',', ' ') }}€</td>
                                <td>{{ report.dateCrea | date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-12 mb-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-secondary">{% trans %}User's delationed{% endtrans %}</h6>
                </div>
                <div class="card-body">
                    {{ render(controller('App\\Controller\\DefaultController::delationsTable')) }}
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-12 mb-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-secondary">{% trans %}User's pronounced{% endtrans %}</h6>
                </div>
                <div class="card-body">
                    {{ render(controller('App\\Controller\\DefaultController::reportsTable')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
