{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Report{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}Report{% endtrans %}
{% endblock %}

{% block body %}
    {{ form_start(form)}}
        <div class="row">
            <div class="col-md-3">
                {{ form_row(form.user) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.swearword) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.swearwordPrice) }}
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-end">
                {{ form_widget(form.submit)}}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('default') }}
{% endblock %}