
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th scope="col">{% trans %}User{% endtrans %}</th>
        <th scope="col">{% trans %}This month{% endtrans %}</th>
        <th scope="col">{% trans %}Total{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for report in reportsByUser %}
        <tr>
            <td>{{ report.user|raw }}</td>
            <td>{{ report.swearwordsForMonth }}</td>
            <td>{{ report.swearwords }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>