{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {% trans %}Rules{% endtrans %}
{% endblock %}

{% block pageTitle %}
    {% trans %}Rules{% endtrans %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-10 offset-md-1 col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-grey-400">{% trans %}Earnings usage{% endtrans %}</h6>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <p>Chaque premier jeudi du mois, le montant dû devra être payé.</p>
                        <p>La cagnotte est utilisée pour créditer une carte Whitefields.</p>
                        <p>Toute personne ne payant pas son dû ne profite pas de cette carte.</p>
                    </div>
                    <div class="card-body-end" style="padding-right: 20px;">
                        <a href="https://whitefields-cafe.com/" target="_blank">
                            <img src="{{ asset('pictures/logo-whitefields-restaurant-bar-rennes-small.png') }}" alt="<span class='fas fa-beer text-grey-400' style='font-size:5em;'></span>"/>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1 col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-grey-400">{% trans %}Report a swearword{% endtrans %}</h6>
                </div>
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <p>Tout le monde peut rapporter des jurons.</p>
                        <p>Un utilisateur dont c'est l'anniversaire ne peut pas être rapporté.</p>
                        <p>Un utilisateur dont c'est l'ausyversaire aura ses rapports à 50% du prix initial.</p>
                        <p>Je ne rapporte pas un utilisateur ayant sa session fermée.</p>
                    </div>
                    <div style="font-size: 5em; padding-right: 20px;">
                        <span class="fas fa-bullhorn"></span>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted("ROLE_MODERATOR") %}
            <div class="col-md-10 offset-md-1 col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-grey-400">{% trans %}Reports validation{% endtrans %}</h6>
                    </div>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p>Je peux valider les rapports me concernant.</p>
                            <p>Je ne peux pas valider les rapports me concernant sauf si j'ai émis ce rapport.</p>
                            <p>Je ne peux pas refuser les rapports me concernant.</p>
                            <p>Je peux refuser les rapports me concernant sauf si j'ai émis ce rapport.</p>
                        </div>
                        <div style="font-size: 5em; padding-right: 20px;">
                            <span class="fas fa-check-square"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-grey-400">{% trans %}Payments registration{% endtrans %}</h6>
                    </div>
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <p>Je ne peux pas enregistrer mon propre paiement</h2>
                        </div>
                        <div style="font-size: 5em; padding-right: 20px;">
                            <span class="fas fa-coins"></span>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}