.sidebar {
  .nav-item {
    .collapse, .collapsing{
      .collapse-inner {
        &.bg-dark {
          .collapse-item {
            color: rgba(255, 255, 255, 0.8);
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
              color : rgba(255,255,255,0.3);
            }

            &:hover {
              background-color: #343a40;
              color: #FFF;
              i {
                color: #FFF;
              }
            }
          }
        }
      }
    }
  }
}

.border-bottom-pink {
  border-bottom: 0.25rem solid #F9429E !important;
}
.border-left-pink {
  border-left: 0.25rem solid #F9429E !important;
}
.text-pink {
  color: #F9429E;
}

.border-bottom-purple {
  border-bottom: 0.25rem solid #6C0277 !important;
}
.border-left-purple {
  border-left: 0.25rem solid #6C0277 !important;
}
.text-purple {
  color: #6C0277;
}

.border-bottom-orange {
  border-bottom: 0.25rem solid #ff851b !important;
}
.border-left-orange {
  border-left: 0.25rem solid #ff851b !important;
}
.text-orange {
  color: #ff851b;
}

.col-form-label.required:after,
.col-form-label .required:after{
  content: ' *';
  color: red;
}