<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ausy Jurons{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body id="page-top">

    <!-- Page Wrapper -->
        <div id="wrapper">
            <ul class="navbar-nav bg-dark navbar-dark sidebar sidebar-dark accordion" id="accordionSidebar">
                <li>
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('homepage') }}">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fas fa-poo"></i>
                        </div>
                        <div class="sidebar-brand-text mx-5">AUSY <br/> Jurons</div>
                    </a>
                    <hr class="sidebar-divider my-0"/>
                </li>
                {% if app.user is not null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>{% trans %}Home{% endtrans %}</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('report') }}">
                            <i class="fas fa-fw fa-bullhorn"></i>
                            <span>{% trans %}Report{% endtrans %}</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('balance') }}">
                            <i class="fas fa-fw fa-chart-line"></i>
                            <span>{% trans %}Earnings balance{% endtrans %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('all_reports') }}">
                            <i class="fas fa-fw fa-eye"></i>
                            <span>{% trans %}All reports{% endtrans %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('rules') }}">
                            <i class="fas fa-fw fa-balance-scale"></i>
                            <span>{% trans %}Rules{% endtrans %}</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_MODERATOR') %}
                        <li>
                            <hr class="sidebar-divider my-0"/>
                            <div class="sidebar-heading">
                                {% trans %}Moderation{% endtrans %}
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('report_validations') }}">
                                <i class="fas fa-fw fa-check-square"></i>
                                <span>{% trans %}Validate report{% endtrans %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('report_payments') }}">
                                <i class="fas fa-fw fa-coins"></i>
                                <span>{% trans %}Register payment{% endtrans %}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <hr class="sidebar-divider my-0"/>
                        <div class="sidebar-heading">
                            {% trans %}Dashboards{% endtrans %}
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dashboard_pronounciations', [], false) }}">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>{% trans %}Pronounciations{% endtrans %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('dashboard_delations', [], false) }}">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>{% trans %}Delations{% endtrans %}</span>
                        </a>
                    </li>
                    <li>
                        <hr class="sidebar-divider my-0"/>
                        <div class="sidebar-heading">
                            {% trans %}Administration{% endtrans %}
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('swearword', [], false) }}">
                            <i class="fas fa-fw fa-poo"></i>
                            <span>{% trans %}Swearwords{% endtrans %}</span>
                        </a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('users', [], false) }}">
                                <i class="fas fa-fw fa-users-cog"></i>
                                <span>{% trans %}Users{% endtrans %}</span>

                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        {% if app.user is not null  %}
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.firstname }} {{ app.user.name }}</span>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{{ path('profile') }}">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        {% trans %}Profile{% endtrans %}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('records') }}">
                                        <i class="fas fa-bug fa-sm fa-fw mr-2 text-gray-400"></i>
                                        {% trans %}My records{% endtrans %}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('reports') }}">
                                        <i class="fas fa-bullhorn fa-sm fa-fw mr-2 text-gray-400"></i>
                                        {% trans %}My reports{% endtrans %}
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        {% trans %}Logout{% endtrans %}
                                    </a>
                                </div>
                            </li>

                        </ul>
                        {% endif %}

                    </nav>
                    <!-- End of Topbar -->

                    <div class='container-fluid'>
                        <div class='row'>
                            <div class="col-12" id="flash-messages">
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success">
                                        {{ message | trans }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('error') %}
                                    <div class="alert alert-danger">
                                        {{ message | trans }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('warning') %}
                                    <div class="alert alert-warning">
                                        {{ message | trans }}
                                    </div>
                                {% endfor %}
                            </div>

                            <main class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h2>
                                            {% block pageTitle %}
                                            {% endblock %}
                                        </h2>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        {% block pageAction %}
                                        {% endblock %}
                                    </div>
                                </div>
                                {% block form %}
                                {% endblock %}
                                {% block body %}
                                {% endblock %}
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('sbadmin') }}
        <script type="text/javascript">
            $(document).ready(function() {
                $('#accordionSidebar').find('.nav-link').each(function(index) {
                    if(window.location.pathname == $(this).attr('href')) {
                        $(this).parent().addClass('active');
                    }
                })

            })
        </script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
