{% extends 'base.html.twig' %}

{% block title %}{% trans %}Pronounciations dashboard{% endtrans %}{% endblock %}

{% block body %}

<div class="row">
    <h1>{% trans %}Pronounciations dashboard{% endtrans %}</h1>

    <div class="col-md-10 offset-md-1">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-grey-400">{% trans %}By year{% endtrans %}</h6>
                <div>
                    <span id="hide-year" style="cursor: pointer"><i class="fas fa-minus fa-sm"></i></span>
                    <span id="show-year" style="display: none; cursor: pointer"><i class="fas fa-plus fa-sm"></i></span>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body" id="year-body">
                <div class="d-flex align-item-center justify-content-center">
                    {% for year in years %}
                        <span class="btn btn-secondary btn-year" id="btn-year-{{ year.year }}" data-year="{{ year.year }}"
                            {% if loop.index0 > 0 %}style="margin-left: 1em;"{% endif %}>
                            {{ year.year }}
                        </span>
                    {% endfor %}
                </div>
                <div class="chart-container" id="chart-year-container">
                    <canvas id="chart-year"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 offset-md-1">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-grey-400">{% trans %}By month{% endtrans %}</h6>
                <div>
                    <span id="hide-month" style="cursor: pointer"><i class="fas fa-minus fa-sm"></i></span>
                    <span id="show-month" style="display: none; cursor: pointer"><i class="fas fa-plus fa-sm"></i></span>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body" id="month-body">
                <div class="d-flex">
                    <em class="font-weight-bold">
                        <i class="fas fa-info-circle"></i>
                        Le mois sélectionné concerne l'année en cours
                    </em>
                </div>
                <div class="d-block d-md-flex align-item-center justify-content-center">
                    <span class="btn btn-secondary btn-month" id="btn-month-1" data-month="1">
                        Janvier
                    </span>
                    {% if "now"|date('m') >= "02" %}
                        <span class="btn btn-secondary btn-month" id="btn-month-2" data-month="2" style="margin-left: 1em;">
                            Février
                        </span>
                        {% if "now"|date('m') >= "03" %}
                            <span class="btn btn-secondary btn-month" id="btn-month-3" data-month="3" style="margin-left: 1em;">
                                Mars
                            </span>
                            {% if "now"|date('m') >= "04" %}
                                <span class="btn btn-secondary btn-month" id="btn-month-4" data-month="4" style="margin-left: 1em;">
                                    Avril
                                </span>
                                {% if "now"|date('m') >= "05" %}
                                    <span class="btn btn-secondary btn-month" id="btn-month-5" data-month="5" style="margin-left: 1em;">
                                        Mai
                                    </span>
                                    {% if "now"|date('m') >= "06" %}
                                        <span class="btn btn-secondary btn-month" id="btn-month-6" data-month="6" style="margin-left: 1em;">
                                            Juin
                                        </span>
                                        {% if "now"|date('m') >= "07" %}
                                            <span class="btn btn-secondary btn-month" id="btn-month-7" data-month="7" style="margin-left: 1em;">
                                                Juillet
                                            </span>
                                            {% if "now"|date('m') >= "08" %}
                                                <span class="btn btn-secondary btn-month" id="btn-month-8" data-month="8" style="margin-left: 1em;">
                                                    Août
                                                </span>
                                                {% if "now"|date('m') >= "09" %}
                                                    <span class="btn btn-secondary btn-month" id="btn-month-9" data-month="9" style="margin-left: 1em;">
                                                        Septembre
                                                    </span>
                                                    {% if "now"|date('m') >= "10" %}
                                                        <span class="btn btn-secondary btn-month" id="btn-month-10" data-month="10" style="margin-left: 1em;">
                                                            Octobre
                                                        </span>
                                                        {% if "now"|date('m') >= "11" %}
                                                            <span class="btn btn-secondary btn-month" id="btn-month-11" data-month="11" style="margin-left: 1em;">
                                                                Novembre
                                                            </span>
                                                            {% if "now"|date('m') >= "12" %}
                                                                <span class="btn btn-secondary btn-month" id="btn-month-12" data-month="12" style="margin-left: 1em;">
                                                                    Décembre
                                                                </span>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="chart-container" id="chart-month-container">
                    <canvas id="chart-month"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard_pronounciations') }}
{% endblock %}