{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Add a user{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}Add a user{% endtrans %}
{% endblock %}

{% block body %}
    {{ form_start(form, {'action' : path('user_add'), 'method': 'POST'}) }}
        <div class="row">
            <div class="col-6">
                <div class="form-group row">
                    <label for="name" class="col-sm-4 col-form-label label-required">{{ form_label(form.name) | trans | raw }}</label>
                    <div class="col-sm-7">
                        {{ form_widget(form.name) }}
                        {{ form_help(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label for="firstname" class="col-sm-4 col-form-label label-required">{{ form_label(form.firstname) | trans | raw }}</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.firstname) }}
                        {{ form_help(form.firstname) }}
                        {{ form_errors(form.firstname) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label label-required">{{ form_label(form.email) | trans | raw }}</label>
                    <div class="col-sm-7">
                        {{ form_widget(form.email) }}
                        {{ form_help(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label for="roles" class="col-sm-4 col-form-label">{{ form_label(form.roles) | trans | raw }}</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.roles) }}
                        {{ form_help(form.roles) }}
                        {{ form_errors(form.roles) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label for="birthday" class="col-sm-4 col-form-label">{{ form_label(form.birthday) | trans | raw }}</label>
                    <div class="col-sm-7">
                        {{ form_widget(form.birthday) }}
                        {{ form_help(form.birthday) }}
                        {{ form_errors(form.birthday) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label for="joiningDate" class="col-sm-4 col-form-label">{{ form_label(form.ausyArrivalDate) | trans | raw }}</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.ausyArrivalDate) }}
                        {{ form_help(form.ausyArrivalDate) }}
                        {{ form_errors(form.ausyArrivalDate) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <label for="joiningDate"
                           class="col-sm-4 col-form-label">{{ form_label(form.surname) | trans | raw }}</label>
                    <div class="col-sm-8">
                        {{ form_widget(form.surname) }}
                        {{ form_help(form.surname) }}
                        {{ form_errors(form.surname) }}
                    </div>
                </div>
            </div>
            <div class="col-12 text-danger font-italic text-xs">* champs requis</div>
            <div class="col-12 text-right">
                <button type="submit" class="btn btn-success">
                    {% trans %}Create{% endtrans %}
                </button>
                <a href="{{ path('users') }}" class="btn btn-danger">
                    {% trans %}Cancel{% endtrans %}
                </a>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}