{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Users{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}Users{% endtrans %}
{% endblock %}


{% block pageAction %}
    <a href="{{ path('user_add') }}" id='addBtn' class="btn btn-success btn-icon-split">
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span class="text">{% trans %}Add a user{% endtrans %}</span>
    </a>
{% endblock %}

{% block body %}
    <table class='table table-striped' id="users-table" style="width: 100%">
        <thead>
        <tr>
            <th scope="col">{% trans %}Firstname{% endtrans %} {% trans %}Name{% endtrans %}</th>
            <th scope="col">{% trans %}Surname{% endtrans %}</th>
            <th scope="col">{% trans %}Role{% endtrans %}</th>
            <th scope="col">{% trans %}Email address{% endtrans %}</th>
            <th scope="col" class="d-none d-xl-table-cell">{% trans %}Birthday{% endtrans %}</th>
            <th scope="col" class="d-none d-xl-table-cell">{% trans %}Ausy coming{% endtrans %}</th>
            <th scope="col">{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.firstname }} {{ user.name | upper}}</th>
                <td>{{ user.surname}} </td>
                <td>{{ user.roles[0]|replace({'ROLE_ADMIN':'Administrateur', 'ROLE_MODERATOR':'Modérateur', 'ROLE_USER':'Utilisateur'})}} </td>
                <td>{{ user.email}} </td>
                <td class="d-none d-xl-table-cell">
                    <span style="display: none;">{{ user.birthday | date('Y-m-d') }}</span>
                    {{ user.birthday | date('d/m/Y') }}
                </td>
                <td class="d-none d-xl-table-cell">
                    <span style="display: none;">{{ user.ausyArrivalDate | date('Y-m-d') }}</span>
                    {{ user.ausyArrivalDate | date('d/m/Y') }}
                </td>
                <td class='actions'>
                    <a href="{{ path('user_view', {'id': user.id}) }}" type="button" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}" type="button" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    {% if user != app.user %}
                        <button id="deactivate-user-{{ user.id }}" data-user-id="{{ user.id }}" class="btn btn-success btn-deactivate"
                                style="display : {% if user.active %}initial{% else %}none{% endif %}">
                            <i class="fas fa-toggle-on"></i>
                        </button>
                        <button id="activate-user-{{ user.id }}" data-user-id="{{ user.id }}" class="btn btn-danger btn-activate"
                                style="display : {% if user.active %}none{% else %}initial{% endif %}">
                            <i class="fas fa-toggle-off"></i>
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('users') }}
{% endblock %}