{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}User{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% if user.surname %}
        {{ user.firstname }}&nbsp;{{ user.name | upper }} dit &laquo;{{ user.surname }}&raquo;
    {% else %}
        {{ user.firstname }} {{ user.name | upper }}
    {% endif %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-sm-4">{% trans %}Email address{% endtrans %}</label>
                        <div class="col-sm-7">{{ user.email }}</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label class="col-sm-4">{% trans %}Active{% endtrans %}</label>
                        <div class="col-sm-7" id="user-active">
                            {% if user.active %}
                                <i class="fas fa-toggle-on text-success"></i>
                            {% else %}
                                <i class="fas fa-toggle-off text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label for="birthday" class="col-sm-4">{% trans %}Birthday{% endtrans %}</label>
                <div class="col-sm-7">
                    {% if user.birthday == null %}
                        <i>Non renseigné</i>
                    {% else %}
                        {{ user.birthday | date('d/m/Y') }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label for="birthday" class="col-sm-4">{% trans %}Role{% endtrans %}</label>
                <div class="col-sm-7">
                    {{ user.getDisplayRole() }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label for="birthday" class="col-sm-4">{% trans %}Ausy Arrival Date{% endtrans %}</label>
                <div class="col-sm-7">
                    {% if user.ausyArrivalDate == null %}
                        <i>Non renseigné</i>
                    {% else %}
                        {{ user.ausyArrivalDate | date('d/m/Y') }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label for="birthday" class="col-sm-4">{% trans %}Color{% endtrans %}</label>
                <div class="col-sm-7">
                    {% if user.color == null %}
                        <i>Non renseigné</i>
                    {% else %}
                        <div style="background-color: {{ user.color }}; height: 20px; width: 20px;"></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label for="birthday" class="col-sm-4">{% trans %}Surname{% endtrans %}</label>
                <div class="col-sm-7">
                    {% if user.surname == null %}
                        <i>Non renseigné</i>
                    {% else %}
                        {{ user.surname }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 text-right">
            <a href="{{ path('users') }}" class="btn btn-info">
                {% trans %}Return{% endtrans %}
            </a>
            <a href="{{ path('user_edit', {'id' : user.id}) }}" class="btn btn-warning">
                {% trans %}Edit user{% endtrans %}
            </a>
            {% if user != app.user %}
                <button id="deactivate-user" class="btn btn-danger" style="display:{% if user.active %}initial{% else %}none{% endif %}">
                    {% trans %}Deactivate user{% endtrans %}
                </button>
                <button id="activate-user" class="btn btn-success"style="display:{% if user.active %}none{% else %}initial{% endif %}">
                    {% trans %}Activate user{% endtrans %}
                </button>
            {% endif %}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-6" style="border-right:1px solid #dee2e6">
            <h2>Reports</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" style="width:25%">{% trans %}Swearword{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Cost{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Reported to{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Reported at{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for report in reports %}
                    <tr>
                        <td>{{ report.swearword.label }}</td>
                        <td>{{ report.price | number_format(2, ',', ' ') }} €</td>
                        <td>{{ report.user.firstname }} {{ report.user.name | upper }}</td>
                        <td>{{ report.dateCrea | date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>Records</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" style="width:25%">{% trans %}Swearword{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Cost{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Recorded by{% endtrans %}</th>
                    <th scope="col" style="width:25%">{% trans %}Recorded at{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.swearword.label }}</td>
                        <td>{{ record.price | number_format(2, ',', ' ') }} €</td>
                        <td>{{ record.userCrea.firstname }} {{ record.userCrea.name | upper }}</td>
                        <td>{{ record.dateCrea | date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#activate-user').click(function() {
                let url="{{ path('user_activate', {'id' : user.id}) }}";
                $.ajax({
                    url: url,
                    method: 'POST',
                    success : function(result) {
                        if(result === 'user activated') {
                            let response = "{% trans %}User has been activated{% endtrans %}";
                            $('#flash-messages').html('<div class="alert alert-success">'+response+'</div>')
                            $('#user-active').html("<i class=\"fas fa-toggle-on text-success\"></i>");
                            $('#deactivate-user').show();
                            $('#activate-user').hide();
                        } else {
                            $('#flash-messages').html('<div class="alert alert-danger">'+result+'</div>')
                        }
                    }

                 })
            });

            $('#deactivate-user').click(function() {
                let url="{{ path('user_deactivate', {'id' : user.id}) }}";
                $.ajax({
                    url: url,
                    method: 'POST',
                    success: function (result) {
                        if(result === 'user deactivated') {
                            let response = "{% trans %}User has been deactivated{% endtrans %}"
                            $('#flash-messages').html('<div class="alert alert-success">'+response+'</div>')
                            $('#user-active').html("<i class=\"fas fa-toggle-off text-danger\"></i>");
                            $('#deactivate-user').hide();
                            $('#activate-user').show();
                        } else {
                            $('#flash-messages').html('<div class="alert alert-danger">'+result+'</div>')
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}