{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}All reports{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}All reports{% endtrans %}
{% endblock %}

{% block body %}
    {% for year,month in reports %}
        {% set loopYearIndex = loop.index0 %}
        {% set loopYear = loop.length %}
        <h4>
            {{ year }}
            <i class="fa fa-fw fa-plus-circle" id="dev-{{ year }}" onclick="$('#div-{{ year }}').fadeIn(); $(this).hide(); $('#red-{{ year }}').fadeIn();" style="font-size:15px;vertical-align: middle;{% if loop.index0 == 0 %}display:none{% endif %}"></i>
            <i class="fa fa-fw fa-minus-circle" id="red-{{ year }}" onclick="$('#div-{{ year }}').hide(); $(this).hide(); $('#dev-{{ year }}').fadeIn();" style="font-size:15px;vertical-align: middle;{% if loop.index0 > 0 or loop.length == 1 %}display:none{% endif %}"></i>
        </h4>

        <div id="div-{{ year }}" style="{% if loop.index0 > 0 %}display:none{% endif %}" >
            {% for monthName,reps in month %}
                <h5>
                    {{ monthName | trans }}
                    <i class="fa fa-fw fa-plus-circle" id="dev-{{ monthName }}-{{ year }}" onclick="$('#table-{{ monthName }}-{{ year }}').fadeIn(); $(this).hide(); $('#red-{{ monthName }}-{{ year }}').fadeIn();" style="font-size:15px;vertical-align: middle;{% if loop.index0 == 0 and loopYearIndex == 0 %}display:none{% endif %}"></i>
                    <i class="fa fa-fw fa-minus-circle" id="red-{{ monthName }}-{{ year }}" onclick="$('#table-{{ monthName }}-{{ year }}').hide(); $(this).hide(); $('#dev-{{ monthName }}-{{ year }}').fadeIn();" style="font-size:15px;vertical-align: middle;{% if loop.index0 > 0 or loopYearIndex > 0 %}display:none{% endif %}"></i>
                </h5>
                <table id="table-{{ monthName }}-{{ year }}" style="{% if loop.index0 > 0 or loopYearIndex > 0 %}display:none{% endif %}" class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" style="width:40%">{% trans %}Swearword{% endtrans %}</th>
                        <th scope="col" style="width:10%">{% trans %}Price{% endtrans %}</th>
                        <th scope="col" style="width:15%">{% trans %}Reported to{% endtrans %}</th>
                        <th scope="col" style="width:15%">{% trans %}Reported by{% endtrans %}</th>
                        <th scope="col" style="width:10%">{% trans %}Reported at{% endtrans %}</th>
                        <th scope="col" style="width:5%">{% trans %}Validated{% endtrans %}</th>
                        <th scope="col" style="width:5%">{% trans %}Paid{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for report in reps|reverse %}
                        <tr>
                            <td>{{ report.swearword.label }}</td>
                            <td>{{ report.price | number_format(2, ',', ' ') }}&nbsp;€</td>
                            <td>{{ report.user.firstname }} {{ report.user.name | upper }}</td>
                            <td>{{ report.userCrea.firstname }} {{ report.userCrea.name | upper }}</td>
                            <td>{{ report.dateCrea | date('d/m/Y') }}</td>
                            <td class="text-center">
                                {% if report.valid %}
                                    <span class="text-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="text-danger"><i class="fa fa-times"></i></span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if report.paid %}
                                    <span class="text-success"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="text-danger"><i class="fa fa-times"></i></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}