{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Payments{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}Payments{% endtrans %}
{% endblock %}

{% block body %}
    {% set totalReports = 0 %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width:25%">{% trans %}User{% endtrans %}</th>
            <th scope="col" style="width:25%">{% trans %}Cost{% endtrans %}</th>
            <th scope="col" style="width:25%">{% trans %}Swearword Nb.{% endtrans %}</th>
            <th scope="col" style="width:25%">{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody id="payment-body">
        {% for report in reports %}
             {% set totalReports = totalReports + report.price %}
            <tr id="payment-{{ report.userId }}">
                <td>{{ report.user }}</td>
                <td id="price">{{ report.price | number_format(2, ',', ' ') }}</td>
                <td>{{ report.nbSwearwords }}</td>
                <td>
                    <button onclick="pay({{ report.userId }})"
                            class="btn btn-success">{% trans %}Paid{% endtrans %}</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td class="pull-right"><h4>Total à recevoir </h4></td>
            <td colspan="3" class="pull-right"><strong id="total-pay">{{ totalReports | number_format(2, ',', ' ')}}&nbsp;€</strong></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function pay(userId) {
            let url = "{{ path('report_pay', {'userId' : '0'}) }}";
            url = url.replace('0', userId);
            $.ajax({
                url: url,
                method: 'POST',
                success: function (result) {
                    if (result === 'user paid') {
                        $('#payment-' + userId).remove();
                        let payments = $('#payment-body').find('tr');
                        let response = "{% trans %}User record's have been paid{% endtrans %}";
                        $('#flash-messages').html('<div class="alert alert-success">' + response + '</div>');
                        if (payments.length === 0) {
                            window.location.href = "{{ path('homepage') }}";
                            $('#flash-messages').html('<div class="alert alert-success">' + response + '</div>');
                        } else {
                            let totalToPay = 0;
                            $('#payment-body').find("tr #price").each(function() {
                                totalToPay += parseFloat($(this).html().replace(",", "."));
                            })
                            let total= (`${totalToPay.toFixed(2)}`).replace('.', ',');
                            $('#total-pay').html(`${total}&nbsp;€`);
                        }
                    } else {
                        let response = "{% trans %}You cannot validate payment for your own records{% endtrans %}";
                        $('#flash-messages').html('<div class="alert alert-danger">' + response + '</div>')
                    }
                }

            })
        }
    </script>
{% endblock %}