{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Report validations{% endtrans %}{% endblock %}

{% block pageTitle %}
    {% trans %}Reports validation{% endtrans %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width:35%">{% trans %}Swearword{% endtrans %}</th>
            <th scope="col" style="width:10%">{% trans %}Cost{% endtrans %}</th>
            <th scope="col" style="width:15%">{% trans %}Reported to{% endtrans %}</th>
            <th scope="col" style="width:15%">{% trans %}Reported by{% endtrans %}</th>
            <th scope="col" style="width:10%">{% trans %}Reported at{% endtrans %}</th>
            <th scope="col" style="width:15%">{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody id="reports">
        {% for report in reports %}
            <tr id="report-{{ report.id }}">
                <td>{{ report.swearword.label }}</td>
                <td>{{ report.price | number_format(2, ',', ' ') }} €</td>
                <td>{{ report.user.firstname }} {{ report.user.name | upper }}</td>
                <td>{{ report.userCrea.firstname }} {{ report.userCrea.name | upper }}</td>
                <td>{{ report.dateCrea | date('d/m/Y') }}</td>
                <td>
                    <button onclick="validateReport({{ report.id }})" class="btn btn-success">{% trans %}Validate{% endtrans %}</button>
                    <button onclick="refuseReport({{ report.id }})" class="btn btn-danger">{% trans %}Refuse{% endtrans %}</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function validateReport(id) {
            let url="{{ path('report_validate', {'id' : '0'}) }}";
            url = url.replace('0', id);
            $.ajax({
                url: url,
                method: 'POST',
                success : function(result) {
                    if(result === 'report validated') {
                        $('#report-' + id).remove();
                        let reports = $('#reports').find('tr');
                        let response = "{% trans %}Report has been validated{% endtrans %}";
                        $('#flash-messages').html('<div class="alert alert-success">'+response+'</div>');
                        if (reports.length === 0) {
                            window.location.href = "{{ path('homepage') }}";
                            $('#flash-messages').html('<div class="alert alert-success">'+response+'</div>');
                        }
                    } else {
                        let response = "{% trans %}You cannot validate reports from you{% endtrans %}";
                        $('#flash-messages').html('<div class="alert alert-danger">'+response+'</div>')
                    }
                }

            })
        }
        function refuseReport(id) {
            let url="{{ path('report_refuse', {'id' : '0'}) }}";
            url = url.replace('0', id);
            $.ajax({
                url: url,
                method: 'POST',
                success : function(result) {
                    if(result === 'report refused') {
                        $('#report-' + id).remove();
                        let reports = $('#reports').find('tr');
                        let response = "{% trans %}Report has been refused{% endtrans %}";
                        $('#flash-messages').html('<div class="alert alert-success">'+response+'</div>')
                        if (reports.length === 0) {
                            window.location.href = "{{ path('homepage') }}";
                            $('#flash-messages').html('<div class="alert alert-success">'+response+'</div>')
                        }
                    } else {
                        let response = "{% trans %}You cannot refuse reports to you{% endtrans %}";
                        $('#flash-messages').html('<div class="alert alert-danger">'+response+'</div>')
                    }
                }

            })
        }
    </script>
{% endblock %}